<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Spotify API</title>
</head>
<body>
    

    <header>
        <h1>Playlists Compare with Spotify</h1>
        <h2>Compare playlists indvidually or entire profiles!</h2>
        <div id="msg"></div>
    </header>

    <div>
        <% if (!session.isAuth) { %>
            <button id="log" type="button">
                Log In
            </button>
        <% } else { %>
            <form action="/auth/logout" method="POST">
                <button id="log">
                    Log out
                </button>
            </form>
        <% } %>
    </div>


    <% if (session.isAuth) { %>

    <div class="horizontalSlider">
        <div class="sliderContainer">
            <div class="item">
                <% if (session.dataXD.images[0] == null) { %>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC">
                <% } else { %>
                    <img src="<%=session.dataXD.images[0].url%>" alt="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC">
                    <% } %>
                <p><%= session.dataXD.display_name %></p>
                <h4><a href="https://open.spotify.com/user/<%=session.userID%>/following" target="_blank">Friends List</a></h4>
            </div>
            
            <% for (let i = 0; i < session.playlists.items.length; i++) { %>

                <% if (session.playlists.items[i].images[0] == null) { %>
                    <div class="item">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC">
                        <p><%= session.playlists.items[i].name %></p>
                        <button type="button" id="addButton" value="<%=session.playlists.items[i].id%>" onclick="place(this)">add left</button>
                        <button type="button" id="addButtonLeft" value="<%=session.playlists.items[i].id%>" onclick="place(this)">add right</button>
                    </div>
                <% } else { %>
                <div class="item">
                    <img src="<%=session.playlists.items[i].images[0].url%>" alt="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC">
                    <p><%= session.playlists.items[i].name %></p>
                    <button type="button" id="addButton" value="<%=session.playlists.items[i].id%>" onclick="place(this)">add left</button>
                    <button type="button" id="addButtonLeft" value="<%=session.playlists.items[i].id%>" onclick="place(this)">add right</button>
                </div>
                <% } %>
            <% } %>
        </div>
    </div>
    <% } %>
<div id="encapsuleGrid">
    <div id="containerOne">
    <div id="conBorderOne">
        <form id="formOne">

            <input type="text" id="inputOne" autocomplete="on">
            <input type="submit">
        </form>
        
        <div class = "box">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img">
        </div>
        
        <div>
            <h1 id ="playNameOne"></h1>
            <h2 id="nameOne"></h2>
        </div>


        <div id="tracks">
            
        </div>
    </div>
    </div>

    <div id="containerTwo">
        <div id="conBorderTwo">
        <form id="formTwo">

            <input type="text" id="inputTwo" autocomplete="on">
            <input type="submit">
        </form>
        
        <div class = "box">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img">
        </div>
        
        <div>
            <h1 id ="playNameTwo"></h1>
            <h2 id="nameTwo"></h2>
        </div>

        <div id="tracksTwo">
            
        </div>
        </div>
    </div>

    <div id="compareBox">
        <div id="compBorder">
        <button type="button" id="compareButton" onclick="compare()"><span>Compare!</span></button>
        <div id="same">
            
            
        </div>
        </div>

        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    </div>

    <div id="makespace"></div>


</div>
    <script src="main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    
</body>
</html>