<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Spotify API</title>
</head>
<body>
    

    <div class="home">
                <header>
                    <span><img src="./logo.png"></span>
                    <h1>Playlists Compare with Spotify</h1>
                    <h2>Compare playlists with yourself and others!</h2>
                    <h4>Made with Spotify API</h4>
                </header>
            </div>

    <div>
        <% if (!session.isAuth) { %>
            <button id="log" type="button">
                Log In
            </button>
            <div id="demo">
                <h1>Demo: </h1>
                <h3>Login above for a more personal experience!</h3>
                <div id="msg"></div>
            </div>
        <% } else { %>
            <form action="/auth/logout" method="POST">
                <button id="log">
                    Log out
                </button>
                <div id="demo">
                    <h1>Your Playlists: </h1>
                    <h3>Open Spotify or "Friends List" to find more playlists!</h3>
                    <div id="msg"></div>
                </div>
            </form>

        <% } %>
    </div>

    

    <div class="encapsuleSlider">
        <div class="horizontalSlider" data-aos="fade-down" data-aos-delay="50"
        data-aos-duration="1000" data-aos-once="false">
            <div class="sliderContainer">
                <% if (session.isAuth) { %>  
                <div class="item">
                    <% if (session.dataXD.images[0] == null) { %>
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC">
                    <% } else { %>
                        <img src="<%=session.dataXD.images[0].url%>" alt="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC">
                        <% } %>
                    <p><%= session.dataXD.display_name %></p>
                    <h4><a href="https://open.spotify.com/user/<%=session.userID%>/following" target="_blank">Friends List</a></h4>
                    <h4><a href="https://open.spotify.com/search" target="_blank">Open Spotify</a></h4>
                </div>
                
                    <% for (let i = 0; i < session.playlists.items.length; i++) { %>

                        <% if (session.playlists.items[i].images[0] == null) { %>
                        <div class="item">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC">
                            <p><%= session.playlists.items[i].name %></p>
                            <a href="<%= session.playlists.items[i].external_urls.spotify %>"  target="_blank"><p><%= session.playlists.items[i].name %></p></a>
                        <a href="<%= session.playlists.items[i].owner.external_urls.spotify %>"  target="_blank" class="songsArtist"><p><%= session.playlists.items[i].owner.display_name %></p></a>
                            <button type="button" id="addButton" value="<%=session.playlists.items[i].id%>" onclick="place(this)">add left</button>
                            <button type="button" id="addButtonLeft" value="<%=session.playlists.items[i].id%>" onclick="place(this)">add right</button>
                        </div>
                        <% } else { %>
                        <div class="item">
                            <img src="<%=session.playlists.items[i].images[0].url%>" alt="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC">
                            <a href="<%= session.playlists.items[i].external_urls.spotify %>"  target="_blank"><p><%= session.playlists.items[i].name %></p></a>
                        <a href="<%= session.playlists.items[i].owner.external_urls.spotify %>"  target="_blank" class="songsArtist"><p><%= session.playlists.items[i].owner.display_name %></p></a>
                            <button type="button" id="addButton" value="<%=session.playlists.items[i].id%>" onclick="place(this)">add left</button>
                            <button type="button" id="addButtonLeft" value="<%=session.playlists.items[i].id%>" onclick="place(this)">add right</button>
                        </div>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <div class="item">
                        <img src="https://charts-images.scdn.co/assets/locale_en/regional/daily/region_us_large.jpg">
                        <a href="https://open.spotify.com/playlist/37i9dQZEVXbLRQDuF5jeBp"  target="_blank"><p>Top 50 - USA</p></a>
                        <a href="https://open.spotify.com/user/spotifycharts"  target="_blank" class="songsArtist"><p>Spotify</p></a>
                        <button type="button" id="addButton" value="37i9dQZEVXbLRQDuF5jeBp" onclick="place(this)">add left</button>
                        <button type="button" id="addButtonLeft" value="37i9dQZEVXbLRQDuF5jeBp" onclick="place(this)">add right</button>
                    </div>
                    <div class="item">
                        <img src="https://charts-images.scdn.co/assets/locale_en/regional/daily/region_global_large.jpg">
                        <a href="https://open.spotify.com/playlist/37i9dQZEVXbMDoHDwVN2tF"  target="_blank"><p>Top 50 - Global</p></a>
                        <a href="https://open.spotify.com/user/spotifycharts"  target="_blank" class="songsArtist"><p>Spotify</p></a>
                        <button type="button" id="addButton" value="37i9dQZEVXbMDoHDwVN2tF" onclick="place(this)">add left</button>
                        <button type="button" id="addButtonLeft" value="37i9dQZEVXbMDoHDwVN2tF" onclick="place(this)">add right</button>
                    </div>
                    <div class="item">
                        <img src="https://i.scdn.co/image/ab67706c0000bebb0c38228296b02f1bb34c1910">
                        <a href="https://open.spotify.com/playlist/30m1f14k0mL8ZzgFllvOCE"  target="_blank"><p>it’s a lazy sunday and you just wanna do nothing but vibe all day</p></a>
                        <a href="https://open.spotify.com/user/zaodvkkxiz59lgiktnzf2icyn"  target="_blank" class="songsArtist"><p>8illy</p></a>
                        <button type="button" id="addButton" value="30m1f14k0mL8ZzgFllvOCE" onclick="place(this)">add left</button>
                        <button type="button" id="addButtonLeft" value="30m1f14k0mL8ZzgFllvOCE" onclick="place(this)">add right</button>
                    </div>
                    <div class="item">
                        <img src="https://i.scdn.co/image/ab67706c0000bebbe53d455c1c85fe14eaf3d6ef">
                    <a href="https://open.spotify.com/playlist/1v95gdALN2ihwP8aqNz8kJ"  target="_blank"><p>listen to this when ur thinking about ur crush</p></a>
                    <a href="https://open.spotify.com/user/zaodvkkxiz59lgiktnzf2icyn"  target="_blank" class="songsArtist"><p>8illy</p></a>
                        <button type="button" id="addButton" value="1v95gdALN2ihwP8aqNz8kJ" onclick="place(this)">add left</button>
                        <button type="button" id="addButtonLeft" value="1v95gdALN2ihwP8aqNz8kJ" onclick="place(this)">add right</button>
                    </div>
                    <div class="item">
                        <img src="https://i.scdn.co/image/ab67706c0000bebb36b11d15c6a2676fc847e905">
                        <a href="https://open.spotify.com/playlist/70mvv4JINCyN53Tlx2s7Re"  target="_blank"><p>i don’t know where i’m going, but i hope i get there</p></a>
                        <a href="https://open.spotify.com/user/zaodvkkxiz59lgiktnzf2icyn"  target="_blank" class="songsArtist"><p>8illy</p></a>
                        <button type="button" id="addButton" value="70mvv4JINCyN53Tlx2s7Re" onclick="place(this)">add left</button>
                        <button type="button" id="addButtonLeft" value="70mvv4JINCyN53Tlx2s7Re" onclick="place(this)">add right</button>
                    </div>
                    <div class="item">
                        <img src="https://i.scdn.co/image/ab67706c0000bebb2405a713b1612e0848e75aed">
                        <a href="https://open.spotify.com/playlist/3AySXbTSUiXGUYroLFvkIK?si=b26f51a346b44426"  target="_blank"><p>Writer's Block</p></a>
                        <a href="https://open.spotify.com/user/12132576791"  target="_blank" class="songsArtist"><p>Antony Nguyen</p></a>
                        <button type="button" id="addButton" value="3AySXbTSUiXGUYroLFvkIK" onclick="place(this)">add left</button>
                        <button type="button" id="addButtonLeft" value="3AySXbTSUiXGUYroLFvkIK" onclick="place(this)">add right</button>
                    </div>
                    <div class="item">
                        <img src="https://mosaic.scdn.co/300/ab67616d0000b273346d77e155d854735410ed18ab67616d0000b27358b08d62231dfca8d358b876ab67616d0000b273ce70cb2d7063cf869f9f1239ab67616d0000b273fe3cf32b1320e8ded39d8c74">
                        <a href="https://open.spotify.com/playlist/0ug0lm5ZuacWL3Ikqa3RLT"  target="_blank"><p>Throwback Thursday</p></a>
                        <a href="https://open.spotify.com/user/12132576791"  target="_blank" class="songsArtist"><p>Antony Nguyen</p></a>
                        <button type="button" id="addButton" value="0ug0lm5ZuacWL3Ikqa3RLT" onclick="place(this)">add left</button>
                        <button type="button" id="addButtonLeft" value="0ug0lm5ZuacWL3Ikqa3RLT" onclick="place(this)">add right</button>
                    </div>
                    
                    <div class="item">
                        <img src="https://mosaic.scdn.co/300/ab67616d0000b273187331e276c898d39764cc98ab67616d0000b273484d121f0e2d2caf87d5d10bab67616d0000b273c85676e37cf146675a250054ab67616d0000b273d20c38f295039520d688a888">
                        <a href="https://open.spotify.com/playlist/0pxE2WKxKlUexN3P7IpQOo"  target="_blank"><p>Best of 2010s Hits</p></a>
                        <a href="https://open.spotify.com/user/212ddgtttgkrdkmdv65rzadba?si=af42bac7d13f4180"  target="_blank" class="songsArtist"><p>Annie Liu</p></a>
                        <button type="button" id="addButton" value="0pxE2WKxKlUexN3P7IpQOo" onclick="place(this)">add left</button>
                        <button type="button" id="addButtonLeft" value="0pxE2WKxKlUexN3P7IpQOo" onclick="place(this)">add right</button>
                    </div>
                    
                <% } %>
            </div>
        </div>
    </div>

<div id="encapsuleGrid">
    <div id="containerOne" data-aos="fade-in" data-aos-delay="50"
    data-aos-duration="2000" data-aos-once="false">
    <div id="conBorderOne">
        <form id="formOne">

            <input type="text" id="inputOne" placeholder="Spotify playlist link or id" autocomplete="on">
            <input type="submit">
        </form>
        
        <div class = "box">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img">
        </div>
        
        <div>
            <h1 id ="playNameOne"></h1>
            <h2 id="nameOne"></h2>
        </div>


        <div id="tracks">
            
        </div>
    </div>
    </div>

    <div id="containerTwo" data-aos="fade-in" data-aos-delay="50"
    data-aos-duration="2000" data-aos-once="false">
        <div id="conBorderTwo">
        <form id="formTwo">

            <input type="text" id="inputTwo" placeholder="Spotify playlist link or id" autocomplete="on">
            <input type="submit">
        </form>
        
        <div class = "box">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="img">
        </div>
        
        <div>
            <h1 id ="playNameTwo"></h1>
            <h2 id="nameTwo"></h2>
        </div>

        <div id="tracksTwo">
            
        </div>
        </div>
    </div>

    <div id="compareBox" data-aos="fade-in" data-aos-delay="50"
    data-aos-duration="2000" data-aos-once="false">
        <div id="compBorder">
        <button type="button" id="compareButton" onclick="compare()"><span>Compare!</span></button>
        <div id="same">
            
            
        </div>
        </div>

        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    </div>

    <div id="makespace"></div>


</div>
    <script src="main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    
</body>
</html>